<div ng-controller="ThreeSVGController" class="threeSphere" id="svgHolder" ng-init="init('svgHolder','svgDiv','svgWrapper','svgContext','assets/media/groupedWorld.svg');">
	<div class="svgDiv">
		<div id="svgWrapper"></div>
		<div id="svgContext">
			<p>
				Select one of the statistics below to view how different countries compare. If you select a country, you will be directed to its map position.
			</p>
			<p>
				<ul class="list-group">
					<li class="list-group-item"><a 
						ui-sref="svg.detail({'detail':'AG.LND.AGRI.ZS'})"
						>Pct Agricultural Land</a></li>
					<li class="list-group-item"><a 
						ui-sref="svg.detail({'detail':'SP.DYN.IMRT.IN'})"
						>Infant Mortality Rate</a></li>
					<li class="list-group-item"><a 
						ui-sref="svg.detail({'detail':'NY.GDP.MKTP.CD'})"
						>National GDP</a></li>
				</ul>
			</p>
		</div>
	</div>
</div>
