<div class="threeLeaflet" id="leaflet" ng-init="init('leaflet','content','leafletMap','leafletContext');">
	<div class="content">
		<div class="leafletMap" id="leafletMap"></div>
		<div id="leafletContext" class="contextPanel">



			<div ng-show="currentData!=null">
				<ul class="image_text row"> 
					<li ng-repeat="video in currentData">
						<div class="hf-image">
								<p class="hf-title" class="article-link">
									test
								</p>
						</div>
					</li>
				</ul>
			</div>
			<div ng-show="currentData==null" class="three-leaflet-element">
				<form novalidate id="leafletForm">
					<p>
						Enter one or more search terms, or Latitude and Longitude separated by a comma (,).
					</p>

					<div>
						<label>Address, city or country</label>
						<input value='' class='form-control field em1 auto-hint' 
						type='text' ng-model="geo-location" ng-change="change()"
						name="geo-location" id="geo-location"
						title="Location"></input><br/>
					</div>
					<!-- div id="cityDiv" ng-show="country!=''">
						<label>City</label>
						<input value='' class='form-control field em1 auto-hint'
						type='text' ng-model="city"
						name="city" id="city"
						title="city"></input><br/>
					</div>

					<div class="isHidden" id="streetDiv">
						<label>Street Address</label>
						<input value='' class='form-control field em1 auto-hint' 
						type='text' ng-model="street"
						name="street" id="street"
						title="street address"></input><br/>
					</div -->

					<div>
						<label>Latitude, Longitude</label>
						<input value='' class='form-control field em1 auto-hint' 
						type='text' ng-model="latlong"
						name="latlong" id="latlong"
						title="Lat, Long"></input><br/>
					</div>

					<div>
						<input type="submit" value="Search" /> 
					</div>


				</form>




			</div>			
		</div>
	</div>
</div>
