<div class="threeLeaflet" id="leaflet" ng-init="init('leaflet','content','leafletMap','leafletContext');">
	<div class="content">
		<div class="leafletMap" id="leafletMap"></div>
		<div id="leafletContext" class="contextPanel">
			<div ng-show="currentData!=null"></div>
			<div ng-show="currentData==null" 
				class="three-leaflet-element"><form novalidate id="leafletForm"
					><p class="notMobile">
						Enter a street address, city or country.
					</p><div class="form-group">
						<label class="notMobile">Location</label>
						<input value='' class='form-control field' 
						type='text' ng-model="geo-location" ng-change="change()"
						name="geo-location" id="geo-location"
						placeholder="Enter location"></input><br class="notMobile"/> 
 						<input type="submit" value="Search" /> 
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
