<div class="three" id="main" ng-init="init('main','content');">
	<div class="content">
		<div class="jumbotron">
		<div class="container">
			<h2>How many Dimensions do you Need?</h2>
			<p>
				Welcome to the bob-angular seed site. This seed was created for developers to be able to 
				quickly build angular applications using a 3D metaphor and current JavaScript frameworks.
			</p>
			<p>
				There is one You Tube example, one Google News search example, and one map example. This 
				may expand in future to include additional content.
			</p>
			<p>
				The application uses angular, three.js, less, jquery, bootstrap, d3 and a number of content
				APIs. Please visit the github page for more information.
			</p>
		</div>
	</div>
</div>
