<div ng-controller="YouTubeSearchController" class="youtubeSearch noBG" id="youtubeSearch" ng-init="init('youtubeSearch','content','ytSearchContext');">
	<div class="content" id="ytSearchPlayer">
		<div ng-show="currentData!=null" >
			<div id="ytplayer"></div>
		</div>
		<div ng-show="currentData==null" style="display:none;">
			<div class="jumbotron">
				<div class="container" id="ytSearchDiv">
					<form novalidate id="ytForm">
						<h3>YouTube Video Search</h3>
						<p>
							Enter a term to search. The first result will appear in this pane.  
						</p>
						<div class="form-group">
							<br/>
							<div class="col-md-10">
								<input youTubeSearchResults="alert('this.value')" class='form-control field em1 auto-hint' 
								       ng-model="ytSearchTextValue" 
								       type='text'
								       name="v" id="v"
								       title="Enter keyword" /> 
								</div>
								<input type="button" value="Search " /> 
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="ytSearchContext" youTubeSearchResults ="true">
			<div class="contextPanel">
				<div ng-show="currentData!=null">
					<ul class="image_text row"> 
						<li ng-repeat="video in currentData.query.results.video">
								<div class="hf-image">
									<a ui-sref="videofeed.videofeed.index({idx:$index})"><img 
									height="{{video.thumbnails.thumbnail[0].height}}" 
									width="{{video.thumbnails.thumbnail[0].width}}" 
									src="{{video.thumbnails.thumbnail[0].content}}" alt="{{video.title}}" title="{{video.title}}"></a></div>
									<div class="hf-info">
									<p class="hf-title" class="article-link"><a ui-sref="videofeed.videofeed.index({idx:$index})">
										{{
											(video.title.length>25) ? video.title.substring(0, 22) + "..." : video.title
										}}
									</a></p>
									</div>
								</div>
						</li>
					</ul>
				</div>
				<div ng-show="currentData==null">
					Enter text to search Youtube Videos, then press ENTER.
				</div>
		</div>
	</div>
</div>
