<div ng-controller="YouTubeSearchController" class="youtubeSearch noBG" id="youtubeSearch" ng-init="init('youtubeSearch','content','ytSearchContext');">
	<div class="content" id="ytSearchPlayer">
		<div class="ytDiv" ng-show="currentData!=null" >
			<div id="ytplayer"></div>
		</div>
		<div id="ytSearchContext" youTubeSearchResults ="true">
			<div class="contextPanel">
				<div ng-show="currentData!=null">
					<form novalidate id="ytForm">
					Enter text to begin a new search
					<br/>

				<input class='form-control field em1 auto-hint' 
				       type='text'
				       name="v" id="v"
				       title="Enter keyword" />
		       <input type="submit" value="Search" /> 
					<br/>


					<ul class="image_text row"> 
						<li ng-repeat="video in currentData.query.results.video">
								<div class="hf-image">
									<a ui-sref="videofeed.videofeed.index({idx:$index})"><img 
									height="{{video.thumbnails.thumbnail[0].height}}" 
									width="{{video.thumbnails.thumbnail[0].width}}" 
									src="{{video.thumbnails.thumbnail[0].content}}" alt="{{video.title}}" title="{{video.title}}"></a></div>
									<div class="hf-info">
									<p class="hf-title" class="article-link"><a ui-sref="videofeed.videofeed.index({idx:$index})">
										{{
											(video.title.length>25) ? video.title.substring(0, 22) + "..." : video.title
										}}
									</a></p>
									</div>
								</div>
						</li>
					</ul>
				</form>
				</div>
				<div ng-show="currentData==null">
					Enter text to search Youtube Videos, then press ENTER.
				</div>
		</div>
	</div>
</div>
