<div class="youtubeSearch noBG" id="youtubeSearch" ng-init="init('youtubeSearch','content','ytSearchContext');">
	<div class="content">
		<div class="jumbotron">
			<div class="container" id="ytSearchDiv">
				<form role="form" ng-submit>
					<h3>YouTube Video Search</h3>
					<p>
						Enter a term to search. The first result will appear in this pane.  
					</p>
					<div class="form-group">
						<br/>
						<div class="col-md-10">
						<input class='form-control field em1 auto-hint' 
						       ng-model="q" 
						       type='text'
						       name="q" id="q"
						       title="Enter keyword" 
						       ng-keypress="testKeys($event)" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="ytSearchContext">
			<div class="noResults" ng-show="{true==false}">
				Search results will appear here when they are returned.
			</div> 
			<div class="withResults" ng-show="{true==true}">
				Search results appear here .
				<p>
					Search and the 
					repeat with statement here
				</p>
			</div> 			
		</div>
	</div>
</div>
