<div class="threeContext" id="context" ng-init="init('context','content');">
	<div class="content">
		<div class="panel panel-default axis3">
			<div class="panel-heading">
				<h3 class="panel-title" id="sectionTitle"></h3>
			</div>
			<div class="panel-body" id="sectionBody">
				<div class="contextItem">
					Client technologies:
					<br/>
					<ul>
						<li>html5, css3 and javascript</li>
						<li><a href="http://angularjs.org">angular.js</a></li>
						<li><a href="http://threejs.org">three.js</a></li>
						<li><a href="http://lesscss.org/">less</a></li>
						<li><a href="http://getbootstrap.com/">bootstrap</a></li>
						<li><a href="http://jquery.com/">jquery</a></li>
						<li><a href="http://d3js.org/">d3</a></li>
						<li><a href="http://leafletjs.com/">leaflet</a></li>
						<li><a href="https://developers.google.com/youtube/player_parameters">youtube</a></li>
						<li><a href="http://html5boilerplate.com/">html5 boilerplate</a></li>
					</ul>
					Server technologies:
					<br/>
					<ul>
						<li><a href="http://nodejs.org">node</a></li>
						<li><a href="http://expressjs.com/">express</a></li>
						<li><a href="http://www.postgresql.org/">postgres</a></li>
						<li><a href="http://gruntjs.com/">grunt</a></li>
						<li><a href="http://bower.io/">bower</a></li>
						<li><a href="http://jasmine.github.io/">jasmine</a></li>
						<li><a href="http://angular.github.io/protractor">protractor</a></li>
						<li><a href="http://karma-runner.github.io/0.12/index.html">karma</a></li>
						<li><a href="http://git-scm.com/">git</a></li>
						<li><a href="http://www.heroku.com/">heroku</a></li>
					</ul>
				</div>
				<div class="contextItem">This software created by myself is subject to <a href=" http://opensource.org/licenses/MIT">MIT license terms</a>. The software used in this application are subject to their distinct licensing terms.</div>
			</div>
		</div>		
	</div>
</div>

