<div class="threeContext" id="context" ng-init="init('context','content');">
	<div class="content">
		<div class="panel panel-default axis3">
			<div class="panel-heading">
				<h3 class="panel-title" id="sectionTitle"></h3>
			</div>
			<div class="panel-body" id="sectionBody">
				<div class="contextItem">
					This application uses the following libraries and technologies.<br />
					<ul>
						<li><a href="http://angularjs.org">angular.js</a></li>
						<li><a href="http://threejs.org">three.js</a></li>
						<li><a href="http://lesscss.org/">less</a></li>
						<li><a href="http://getbootstrap.com/">bootstrap</a></li>
						<li><a href="http://jquery.com/">jQuery</a></li>
						<li><a href="http://d3js.org/">d3</a></li>
						<li><a href="http://leafletjs.com/">leaflet</a></li>
						<li><a href="https://developers.google.com/youtube/player_parameters">YouTube</a></li>
						<li><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a></li>
					</ul>
				</div>
				<div class="contextItem">This software created by myself is subject to the <a href=" http://opensource.org/licenses/MIT">MIT license terms</a>. The distinct software used in this application are subject to their indvidual licensing terms.</div>
			</div>
		</div>		
	</div>
</div>

